.page-login {
  background: #7db9e8;
  background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #1e5799 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 100%);
  background: radial-gradient(ellipse at center,  #7db9e8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );

  .login-logo {
    width: 35%;
    margin: 40px 0 40px 0;
  }

  .item-block:first-child {
    border-top: none;
  }

  .item-block .item-inner {
    border-bottom: none;
  }

  .item-block:last-child {
    border-bottom: none;
  }
  .login-input{
    padding-left: 0;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ffffff;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #ffffff;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #ffffff;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
    }
    &.input-has-focus {
      border-bottom: 1px solid #ffffff;
    }
  }

  .login-pad{
    padding: 0 10%;
  }

  .login-button{
    background: #dbb055;
    background: -moz-linear-gradient(top,  #dbb055 0%, #a1813e 100%);
    background: -webkit-linear-gradient(top,  #dbb055 0%,#a1813e 100%);
    background: linear-gradient(to bottom,  #dbb055 0%,#a1813e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbb055', endColorstr='#a1813e',GradientType=0 );
  }

}
