<ion-content padding class="page-login">
  <ion-item class="text-center no-style-item">
    <img class="login-logo" src="assets/img/wesco-logo.png">
  </ion-item>
  <div class="login-pad">
    <ion-list>
      <ion-item class="no-style-item login-input white-text">
        <ion-input [(ngModel)]="userEmail" class="white-text" placeholder="Email Address" type="text" value=""></ion-input>
      </ion-item>
      <ion-item class="no-style-item login-input white-text">
        <ion-input [(ngModel)]="userPassword" class="white-text" placeholder="Password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div *ngIf="showError" class="error-card">
      <div>{{ errorMessage }}</div>
    </div>

    <button class="login-button" ion-button full (click)="authenticateUser()">Sign In</button>
  </div>
</ion-content>
