.page-not-authorized {
  background: #7db9e8;
  background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #1e5799 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 100%);
  background: radial-gradient(ellipse at center,  #7db9e8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );

  .not-auth-pad{
    padding: 0 10%;
  }

  .not-auth-logo{
    width: 120px;
    margin: 40px 0 40px 0;
  }

  .item-ios.item-block .item-inner{
    border-bottom: 0;
  }

  .item-md.item-block .item-inner{
    border-bottom: 0;
  }

}
