<ion-content padding class="page-not-authorized">
  <ion-item class="text-center no-style-item">
    <img class="not-auth-logo" src="assets/img/wesco-logo.png">
  </ion-item>
  <div class="not-auth-pad">
    <p class="white-text text-center">Your account does not have access to this app. Once you are approved, you will be logged into the app.</p>
  </div>
</ion-content>
