<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home" (window:resize)="onResize()">

  <div class="home-logo-back">
    <div class="home-gold-banner-wrapper">
      <div class="home-white-banner"></div>
      <div class="home-gold-banner"></div>
    </div>
  </div>

  <div class="home-logo-position">
    <img class="home-logo" src="assets/img/wesco-logo.png">
  </div>

  <div *ngIf="displayContent">
    <div class="home-content-back">
      <div>
        <p class="home-header">Dear <b>{{ userData.firstName }} {{ userData.lastName }},</b></p>
        <p class="home-header text-center"><b>Thank you for taking part in the VIP Loyalty Program!</b></p>
      </div>

      <div>
        <p class="gold-text status-text">Goal for {{ currentYear }}: {{ userData.salesGoalString }}</p>
      </div>

      <ion-range [(ngModel)]="userData.salesActual" min="0" max="{{ userData.salesGoal }}" disabled></ion-range>

      <div [style.left.px]="salesActualTextLeftOffset" class="progress-actual blue-text">{{ userData.salesActualString }}</div>

      <div class="c100 p{{ userData.salesPercent }}">
        <span class="blue-text">{{ userData.salesPercent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div>
        <p class="home-header text-center">{{ userData.feedback }}</p>
      </div>

      <div class="announce-box" (click)="goToFirstAnnouncement()" *ngIf="showAnnouncements">
        <div class="announce-header-wrapper">
          <img class="announce-logo" src="assets/img/wesco-logo.png">
          <div class="announce-header white-text">CHECK OUT THE LATEST NEWS!</div>
          <div class="announce-date white-text">{{ userData.announcementCreatedDate | date }}</div>
        </div>
        <div class="announce-title-wrapper">
          <p class="announce-title blue-text">{{ userData.announcementTitle }}</p>
        </div>
      </div>
      <div class="text-center top-margin" *ngIf="showAnnouncements">
        <button class="all-announce-button" (click)="goToAnnouncements()">All Announcements</button>
      </div>
    </div>
  </div>

</ion-content>
