<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Announcement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-push-notification-modal">
  <ion-card class="announce-card-single">
    <ion-card-header>
      <h1>{{ announcementTitle }}</h1>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="announcementHtml"></div>
    </ion-card-content>
  </ion-card>
  <div class="button-container">
    <button class="dismiss-button" ion-button full (click)="dismiss()">Close Announcement</button>
  </div>
</ion-content>



