.page-push-notification-modal {

  hr {
    background-color: rgba(0, 71, 133, 0.3);
  }

  .announce-card-single {
    background: rgba(240, 240, 240, 0.8);
    border-radius: 16px;
  }

  .scroll-content {
    background-repeat: no-repeat;

    /*Style for iphone 5*/
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background.jpg");
      background-size: 110%;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background.jpg");
      background-size: 110%;
    }
    /*------------------*/

    /*Style for phone portrait*/
    @media screen and (max-width: 768px) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background.jpg");
      background-size: 110%;
    }
    /*------------------*/

    /*Style for tablet portrait*/
    @media screen and (min-width: 768px) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background-tablet.jpg");
      background-size: 110%;
    }
    /*------------------*/

    /*Style for phone landscape*/
    @media screen and (max-width: 768px) and (orientation: landscape) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background-landscape.jpg");
      background-size: 110%;
    }
    /*------------------*/

    /*Style for tablet landscape*/
    @media screen and (min-width: 768px) and (orientation: landscape) {
      background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
      ),
      url("../assets/img/announcements-single-background-tablet-landscape.jpg");
      background-size: 110%;
    }
    /*------------------*/

  }

  .button-container {
    padding-left: 10px;
    padding-right: 10px;

    .dismiss-button{
      background: #dbb055;
      background: -moz-linear-gradient(top,  #dbb055 0%, #a1813e 100%);
      background: -webkit-linear-gradient(top,  #dbb055 0%,#a1813e 100%);
      background: linear-gradient(to bottom,  #dbb055 0%,#a1813e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbb055', endColorstr='#a1813e',GradientType=0 );
    }
  }
}
