<ion-header>
  <ion-navbar color="primary">
    <ion-title>All Announcements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-announcements">

  <a class="no-uline" (click)="goToAnnouncementsingle(announcement)" *ngFor="let announcement of announcements">
    <ion-card class="announce-card">
      <ion-card-header>
        <div>{{ announcement.header }}</div>
      </ion-card-header>
      <ion-card-content>
        <div class="gold-text">{{ announcement.createdOn | date }}</div>
      </ion-card-content>
    </ion-card>
  </a>

</ion-content>
