<ion-header>
  <ion-navbar color="primary">
    <ion-title>Announcement</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-announcement-single">

  <ion-card class="announce-card-single">
    <ion-card-header>
      <h1>{{ announcement.header }}</h1>
      <div class="text-right gold-text">{{ announcement.createdOn | date }}</div>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="announcement.html"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
