// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.app-background {
  background-color: #004785;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.no-style-item{
  background-color: rgba(255, 0, 0, 0.0);
}

.white-text{
  color: #ffffff;
}

.blue-text{
  color: #004785;
}

.gold-text{
  color: #ac7e3c;
}

.error-card{
  background: rgba(255, 255, 255, 0.8);
  color: #c71717;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
}

a {
  &.no-uline {
    text-decoration: none;
  }
}

.top-margin{
  margin-top: 20px;
}
